body{
  margin:0px
}
.MainContainer{
  display: grid;
  height: 100vh;
  background: #E0E0E0;
  grid-template-columns:1fr 4fr;
  grid-template-areas: "LeftBar Content"
}
.LeftBar{
  grid-area:"LeftBar";
  border: 0px solid #03A9F4;
  border-right-width: 2px;
  display: grid;
  grid-template-rows:1fr 1fr;

}
.User{

  width:100%;
  border-bottom: 1px solid #03A9F4;
  display:grid;
}
.Ship{

  border-top: 1px solid #03A9F4;
  display: grid;
}
